.file-uploader {
    max-width: 100vw;
}

.file-uploader .form ,btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-uploader .form-loading {
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-uploader .form-loading
span {
    margin-left: 10px;
}