.page-datasets {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.page-datasets .datasets {
    display: grid;
    grid-template-columns: auto;
}

.page-datasets .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.page-datasets .datasets
.card-dataset {
    margin: 10px;
}