.card-dataset {
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}

.card-dataset .card-header .title {
  margin: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.65);
}

.card-dataset .card-body {
  background-color: rgba(153, 229, 156, 0.6);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-dataset .card-body .dataset-name {
  text-align: center;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 15px;
}
.card-dataset .card-body .dataset-imgs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 8px;
  align-self: center;
}
.card-dataset .card-body .dataset-imgs img {
  width: 70px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 4px 1px rgba(0, 0, 0, 0.25);
}

.card-dataset .card-body .dataset-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0px;
  font-size: 0.9rem;
}

.card-dataset .card-body .dataset-infos > div {
  margin: 10px;
}

.card-dataset .card-body .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.card-dataset .card-body .buttons button {
  margin: 0px 12px;
}
