.predict-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.predict-component .doughnut-chart {
    margin-top: 5px;
    max-width: 350px;
    max-height: 350px;
}